<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <link rel="stylesheet" href="{{baseUrl}}/css/reportes.css">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Reporte 1</title>
</head>

<body>

    <div id="contenedor">
        <div class="logo left">
            <img src="{{baseUrl}}/css/img/logo_EAAB.jpg" />
        </div>
        <div id="titulo">
            <h1>Reporte 1</h1>
        </div>
        <div class="logo right">
            <img src="{{baseUrl}}/css/img/logo_EAAB.jpg" />
        </div>


        <div id="mapa">
            <img src="{{imageUrl}}" />
        </div>

        <div class="titulo2">
            <h2>RESUMEN DE REDES AFECTADAS</h2>
        </div>

        <div id="resultado">
            <ul>
                <li>
                    <h3>Resultado</h3>
                </li>
                <li>resullllll</li>
            </ul>

            <ul>
                <li>
                    <h3>Resultado</h3>
                </li>
                <li>resullllll</li>
            </ul>
        </div>

    </div>

</body>

</html>
